  <div id="map"
       leaflet
       (leafletMapReady)="initializeMap($event)"
       [leafletOptions]="options"
       (leafletClick)="onMapClick($event)">
    <div class="container-fluid">
      <div class="row mt-3">
      <div class="col"></div>
      <div class="col-8">
        <nav class="w-100 leaflet-top leaflet-left">
        <app-geocoding (onSearch)="refreshSearchList($event)"></app-geocoding>
        </nav>
      </div>
      <div class="col"></div>
    </div>
    </div>
  </div>
<div id="details-panel">
  <app-results-list [results]="results" (locationSelected)="getAddress($event)"></app-results-list>
<!--  <app-results [mapPoint]="mapPoint"></app-results> -->
</div>

  <div class="row mt-4 ml-4 mr-4" >
    <div class="col">
      <app-filters [mapPoint]="mapPoint"></app-filters>
    </div>
  </div>

  <div class="row mt-4 ml-4 mr-4">
    <app-results></app-results>
  </div>
